/*Général*/
@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: raleway, arial, sans-serif;
    max-width: 1340px;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    font-size: 1em;
}
