/*Général*/
@font-face {
    font-family: 'raleway';
    src:    url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: raleway, arial, sans-serif;
    font-size:16px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color:black;
}

h1 {
    font-size: 1em;
    font-weight: bold;
}

h2 {
    margin:0;
    font-size: 1em;
    font-weight: bold;
}

h3 {
    margin:0;
    font-size: 0.8125em;
    font-weight: bold; 
}

h4 {
    margin: 0;
    font-size: 0.75em;
    font-weight: bold;
}

p {
    font-size: 0.75em;
}

/*Entête*/
header {
    width: 93%;
    height: 7.813em;
    margin-left: auto;
    box-sizing: border-box;
    padding-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 6.25em;
    height: 2.25em;
}
.navigation{
    display: flex;
    justify-content: flex-end;
}   

.navigation a{
    padding : 1.563em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

nav li {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.81em;
    height: 100%;
}

.toOtherPage {
    font-weight: bold;
    color: #0065FC;   
}

nav a:hover{
    color:#0065FC;
    border-top:3px #0065FC solid;

}

/*Zone Recherche*/
.recherche{
    width: 93%;
    box-sizing: border-box;
    margin-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.formulaireRecherche{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3.125em;
    margin-bottom: 1.875em;
    font-size: 0.81em;
    margin-right: auto;
}

.labelFormulaire{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 0.75em 0em 0em 0.75em;
    height:100%;
    width: 3.125em;
}

.zoneTextFormulaire{
    border: solid 1px #F2F2F2;
    box-sizing: border-box;
    height:100%;
    width: 60%;
    margin-left: initial;
    margin-right: initial;
    color:black;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 1.25em;
}

::placeholder{
    color:black;
    font-size: 0.81em;
    font-weight: bold;
}

.zoneTextFormulaire:focus{
    background-color: #DEEBFF;
}

.iconButton {
    border: 0;
    border-radius: 0em 0.75em 0.75em 0em;
    background-color: #0065FC;
    color: #FFF;
    padding: 1.188em;
    font-size: 0.81em;
    font-weight: bold;
    height:100%;
    margin-left: initial;
}

.iconButton:active{
    border-top:0.125em solid #00255e;
    border-left:0.125em solid #00255e;
}

#secretScreenSmall{
    display: none;
}


/*Zone Filtres*/
.filtres {
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: 1.875em;
}

.filtreElements{
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter{
    box-sizing: border-box;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:auto;
    height:3.125em;
    border-top: solid #D9D9D9 0.125em;
    border-right: solid #D9D9D9 0.125em;
    border-bottom: solid #D9D9D9 0.125em;
    border-radius : 2.063em 2.063em;
    margin-left: 2%;
    padding-right:0.625em;
}
.iconFiltreContainer{
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #DEEBFF;
    font-size: 1.2em;
    margin-right: 0.625em;
}

.iconFiltre{
    color:#0065FC;
}

.iconFiltreInactif{
    color:#F2F2F2;
}

.filter p{
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.8125em;
}

.filter:hover .iconFiltre{
    color: black;
}
.filter:hover .iconFiltreContainer{
    background-color: #F2F2F2;
}
.filter:hover{
    color:grey;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;

}

.iconInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.563em;
    height: 1.563em;
    border: solid 1px #D9D9D9;
    border-radius: 100%;
    margin: 0.5%;
    font-size: 0.75em;
}

/*Section resultat*/
.resultat{
    display: flex;
    width: 93%;
    box-sizing: border-box;
    
    margin-left:auto;
    padding-right:auto;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
}

.hebergements{
    width:69%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 1.063em;
    padding:1%;
    padding-top: 1.875em;
    margin-right:2%;
}
.entete{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 1.25em;
    padding: 0.625em;

}
.corps{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    width:100%;
}
.corps > *{
    flex:1 1 27%;
}
.pied{
    width: 100%;
    padding-left: 0.625em;
    padding: 24px;
    font-size: 0.81em;
    font-weight: bold;
}
.cardHebergements{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-width: 245px;
    height: 12.438em;
    padding:2%;
    border-radius: 0.75em;
    background-color: white;
    box-shadow: 10px 10px 40px 2px #D9D9D9;
    margin: 2%;
}

.imageCardHebergements{
    box-sizing: border-box;
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 0.75em 0.75em 0em 0em;
}

.card{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height:100%;
    padding: 1%;
    margin-top: 0;
}

.card p {
    margin-top: 0;
    font-size : 0.625em;
}

.note {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

.card i{
    font-size: 0.75em;
}

aside {
    width:29%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 1.063em;
    padding:2%;
    padding-top: 1.875em;
    height: 100%;
}

.entetePopulaire{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25em;
    padding-bottom: 10px;
}

.corpsPopulaire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    box-sizing: border-box;
    width:100%;
}

.corpsPopulaire > *{
    flex:1 1 27%;
    width: 100%;
}

.cardPopulaire{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    width: 96%;
    height: 9em;
    padding:5px;
    border-radius: 0.75em;
    background-color: white;
    box-shadow: 5px 5px 40px 5px #D9D9D9;
    margin: 2%;
}

.imageCardPopulaire{
    min-width:40%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75em 0em 0em 0.75em;
}

/*Section Activités*/
.resultatActivites{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 93%;
    box-sizing: border-box;
    margin: 0;
    margin-left:auto;
    padding-right:auto;
    justify-content:space-between;
    align-items: flex-start;
}

#activites{
    margin-top: 2.5em;
    margin-left: 1em;
}

.corpsActivites{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap; 
    justify-content: space-between;
    align-content: space-between;
    width: 100%;

}

.corpsActivites > *{
    flex:1 1 23%;
}

.cardActivites{
    display: flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : space-between;
    min-width:200px;
    height: auto;
    margin : 1%;
    box-sizing: border-box;
}

.cardMax{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 450px;
    border-radius: 0.75em;
    background-color: white;
    box-shadow: 5px 5px 40px 5px #D9D9D9;
    margin:0;
}

.cardReduce{
    display: flex;
    flex:1;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    width:100%;
    height: 220px;
    border-radius: 0.75em;
    background-color: white;
    box-shadow: 5px 5px 40px 5px #D9D9D9;
    margin:0;
}

.imageCardActivites{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 0.75em 0.75em 0em 0em;
}

figcaption{
    background-color: white;
    font-size: 0.75em;
    font-weight: bold;
    margin: 1em;
  
}

.cardMax .imageCardActivites{
    height: 90%;
}

footer{
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: auto;
    margin-left: auto;
    padding-right:auto;
    flex-wrap: wrap;
    justify-content: center;
}


footer div{
        min-width: 350px;
        margin-left: auto;
        padding-left:0.75em;
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content:flex-start ;
        align-items: flex-start;
}

footer ul{
    font-size: 0.75em;
    list-style-type:none;
    text-indent:-3.3em ;
    margin-top: 1em;
}
footer ul li{
    margin-top:0.5em;
}

/*Format IP8*/
@media screen and (max-device-width: 750px)
{
    body {
        font-size : 32px;
        width: 102%;
        padding-right:-1em;
    }

    /*Entête*/
    header {
        margin:0;
        width: 100%;
        padding-right: 0;
        display: flex;
        flex-wrap: wrap;
        padding-left: 1.25em;
    }
    
    .navigation{
        width: 100%;
        margin-top:-5em;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .navigation a{
        display: flex;
        justify-content: space-between;
    }

    nav ul{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left:-0.938em;
        margin-right: 0;
        padding-left:0;
        padding-right:0;
        height: 3.125em;
    }
    nav ul > *{
        flex: 1 1 50%;
    }
    
    nav li {
        width: auto;
        display:flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid #F2F2F2;
    }
    
    .toOtherPage {
        align-self: flex-end;
    }

    nav a:hover{
        border-top:0;
    }

    nav li:hover{
        border-bottom : 3px solid #0065FC;
    }
    nav li> *:hover{
        color:#0065FC;
    }
    
    /*Zone Recherche*/
    .recherche{
        width: 100%;
        margin:0;
        padding-left: 1.25em;
        padding-right: 0;
        align-items: stretch;
    }
    
    .formulaireRecherche{
        align-items:center;
        justify-content: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .iconButton {
        border-radius: 13px 13px 13px 13px;
    }
    
    .secretScreenLarge{
        display: none;
    }
    #secretScreenSmall{
        display:flex;
    }
    
    /*Zone Filtres*/
    .filtres {
        flex-direction:column;
        align-items: flex-start;
        align-content: flex-start;
        padding-left: 0px;
        margin-top:30px ;
    }

    .filtreElements{
        padding-right: 10px;
    }
    
    .filter{
        margin : 1%;
    }

    .filter p{
        font-size:1.2em;
    }

    .info{
        width: 95%;
        align-items: flex-start;
    }
    
    .iconInfo {
        width: 1.25em;
        height: 1.25em;
        margin:0;
    }

    .info p{
        padding:0;
        margin: 0;
        margin-left: 1%;
        width: 70%;
    }

    /*Section resultat*/
    .resultat{
        width: 100%;
        margin:0;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column-reverse;
        justify-content:flex-start;
    }

    aside {
        width:95%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: #F2F2F2;
        border-radius: 0;
        margin: auto;
        padding:auto;
        padding-top: 30px;
        height: 100%;
    }
    .corpsPopulaire > *{
        flex:100%;
    }
    
    .hebergements{
        width:95%;
        background-color:#FFF;
        border-radius: 0;
        padding:2%;
        margin: 0;
    }
    .corps > *{
        flex:100%;
    }
    
    .imageCardHebergements{
        height: 70%;
    }
    
    /*Section Activités*/
    .resultatActivites{
        margin: 0;
        padding:1%;
    }
    
    .corpsActivites > * {
        flex: 100%;
    }
    
    .cardActivites{
        width:100%;
        margin : 0;
    }
    
    .cardMax{
        height: 380px;
        margin:2%;
    }
    
    .cardReduce{
        height: 380px;
        margin:2%;
    }
    
    .cardMax .imageCardActivites{
        height: 80%;
    }
    
    footer > *{
        flex: 1 1 50%;
        width:100%;
    }

    footer ul{
        text-indent:-1.6em ;
    }
    
}