/*Général*/
@font-face {
    font-family: 'raleway';
    src:    url('../Fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-regular';
    src:    url('../Fonts/Raleway-static/static/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'raleway', 'raleway-regular', arial, sans-serif;
    font-size:16px;
    max-width: 425px;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color:black;
}

h1 {
    font-size: 0.9em;
    font-weight: bold;
}

h2 {
    margin:0;
    font-size: 0.9em;
    font-weight: bold;
}

h3 {
    margin:0;
    font-size: 0.8em;
    font-weight: bold; 
}

h4 {
    margin: 0;
    font-size: 0.7em;
    font-weight: bold;
}

p {
    font-size: 0.9em;
}

/*Entête*/
header {
    width: 100%;
    height: 7.813em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin: 2%;
    width: 6.25em;
    height: auto;
}
.navigation{
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top:-3.5em;

}   

.navigation a{
    display: flex;
    justify-content: space-between;
    padding : 1.563em;
    font-size:0.8em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding:0;
    height: 100%;
}

nav li {
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #F2F2F2;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.toOtherPage {
    align-self:flex-end;
    font-weight: bold;
    color: #0065FC;   
}

nav li:hover{
    border-bottom : 3px solid #0065FC;
}
nav li> *:hover{
    color:#0065FC;
}

/*Zone Recherche*/
.recherche{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1em;
}

.formulaireRecherche{
    display: flex;
    width: 100%;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3.125em;
    margin-bottom: 1.875em;
    font-size: 0.8em;
   
}

.labelFormulaire{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 0.75em 0em 0em 0.75em;
    height:100%;
    width: 3.125em;
}

.zoneTextFormulaire{
    border: solid 1px #F2F2F2;
    box-sizing: border-box;
    height:100%;
    min-width: 70%;
    margin-left: initial;
    margin-right: initial;
    color:black;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 1.25em;
}

::placeholder{
    color:black;
    font-size: 0.81em;
    font-weight: bold;
}

.zoneTextFormulaire:focus{
    background-color: #DEEBFF;
}

.iconButton {
    border: 0;
    border-radius: 0em 0.75em 0.75em 0em;
    background-color: #0065FC;
    color: #FFF;
    padding: 1.188em;
    font-size: 0.81em;
    font-weight: bold;
    height:100%;
    margin-left: initial;
    cursor:pointer;
}

.iconButton:active{
    border-top:0.125em solid #00255e;
    border-left:0.125em solid #00255e;
}

.secretScreenLarge{
    display: none;
}
#secretScreenSmall{
    display:flex;
}

/*Zone Filtres*/
.filtres {
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1em;
}

.filtreElements{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter{
    box-sizing: border-box;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:auto;
    height:3.125em;
    border-top: solid #D9D9D9 0.125em;
    border-right: solid #D9D9D9 0.125em;
    border-bottom: solid #D9D9D9 0.125em;
    border-radius : 2.063em 2.063em;
    margin: 3%;
    padding-right: 5%;
    cursor:pointer;
}

.iconFiltreContainer{
    width: 2.5em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #DEEBFF;
    font-size: 1.2em;
    margin-right: 0.625em;
}

.iconFiltre{
    color:#0065FC;
}

.iconFiltreInactif{
    color:#F2F2F2;
}

.filter p{
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.8125em;
}

.filter:hover .iconFiltre{
    color: black;
}
.filter:hover .iconFiltreContainer{
    background-color: #F2F2F2;
}
.filter:hover{
    color:grey;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 2%;
}

.iconInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.563em;
    height: 1.563em;
    border: solid 1px #D9D9D9;
    border-radius: 100%;
    margin: 0.5%;
    font-size: 0.75em;
}
.info p{
    width: 80%;
    margin:0;
    margin-left: 2%;
}

/*Section resultat*/
.resultat{
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    justify-content:space-between;
    align-items: flex-start;
}

.hebergements{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.5em;
}

.entete{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left:1em;
    padding-top: 1.25em;
    padding-bottom: 0.6em;

}

.corps{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    box-sizing: border-box;
    padding:2%;
}
.corps > *{
    flex:1 1 97%;
}
.pied{
    width: 100%;
    padding-left: 0.625em;
    padding: 24px;
    font-size: 0.81em;
    font-weight: bold;
    padding:1em;
}
.cardHebergements{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 245px;
    height: 12.438em;
    padding:2%;
    border-radius: 0.75em;
    background-color: white;
    box-shadow: 10px 10px 40px 2px #D9D9D9;
    margin: 2%;
}

.imageCardHebergements{
    box-sizing: border-box;
    width: 100%;
    min-height: 70%;
    object-fit: cover;
    border-radius: 0.75em 0.75em 0em 0em;
}

.card{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height:100%;
    padding: 1%;
    margin-top: 0;
}

.card p {
    margin-top: 0;
    font-size : 0.625em;
}

.note {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

.card i{
    font-size: 0.75em;
}

aside {
    width:100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #F2F2F2;
    padding:2%;
}

.entetePopulaire{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25em;
    padding-bottom: 0.6em;
}

.corpsPopulaire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    box-sizing: border-box;
    width:100%;
    margin-top: auto;
    margin-bottom: auto;
}

.corpsPopulaire > *{
    width: 100%;
}

.cardPopulaire{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 96%;
    height: 9em;
    padding:5px;
    border-radius: 0.75em;
    background-color: white;
    box-shadow: 5px 5px 40px 5px #D9D9D9;
    margin: 2%;
}

.imageCardPopulaire{
    min-width:40%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75em 0em 0em 0.75em;
}

/*Section Activités*/
.resultatActivites{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
    box-sizing: border-box;
    margin:auto;
    justify-content:space-between;
    align-items: flex-start;
}

#activites{
    margin-top: 1em;
    margin-left: 1em;
}

.corpsActivites{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap; 
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding:2%;
}

.corpsActivites > *{
    flex:1 1 100%;
}

.cardActivites{
    display: flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : space-between;
    min-width:200px;
    height: auto;
    box-sizing: border-box;
}

.cardMax{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 95%;
    height: 220px;
    border-radius: 0.75em;
    background-color: white;
    box-shadow: 5px 5px 40px 5px #D9D9D9;
    margin:2%;
}

.cardReduce{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width:95%;
    height: 220px;
    border-radius: 0.75em;
    background-color: white;
    box-shadow: 5px 5px 40px 5px #D9D9D9;
    margin:2%;
}

.imageCardActivites{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 0.75em 0.75em 0em 0em;
}

figcaption{
    background-color: white;
    font-size: 0.75em;
    font-weight: bold;
    margin: 1em;
  
}

.cardMax .imageCardActivites{
    height: 80%;
}

/*footer*/
footer{
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 2%;
    padding-top: 2%;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer > * {
    flex: 1 1 50%;
    width: 100%;
    margin : 2%;
}

footer div{
    min-width: 170px;
    padding-left:0.75em;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items: flex-start;
}

footer ul{
    font-size: 0.75em;
    list-style-type:none;
    text-indent:-3.3em ;
    margin-top: 1em;
}

footer ul li{
    margin-top:0.5em;
}

@media screen and (min-width: 426px){

    body{
        max-width: 768px;
    }

    /*Zone Recherche*/
    
    /*Zone Filtres*/
    
    .filter{
        margin: 2%;
        padding-right: 5%;
    }
    
    /*Section resultat*/
    .corps > *{
        flex:1 1 47%;
    }
    
    /*Section Activités*/
    #activites{
        margin-top: 2em;
    }

    .corpsActivites > *{
        flex:1 1 47%;
    }

    .cardMax{
        height: 450px;
    }

    .cardMax .imageCardActivites{
        height: 90%;
    }
    
    /*footer*/
    footer{
        margin-top: 1%;
    }

}

@media screen and (min-width: 769px){
        
    body{
        max-width: 1340px;
    }

 /*Entête*/
 

.navigation{
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -7em;
}   

.navigation a{
    width: 7em;
    justify-content:center;
}

nav li {
    border:0;
    flex:1 1 100%;
}

nav li:hover{
    border:0;
}

nav a:hover{
    border-top : 3px solid #0065FC;
}
    
    /*Zone Recherche*/
    .recherche{
        align-items: flex-start;
    }
    
    .zoneTextFormulaire{
        min-width: 60%;
    }
    
    .secretScreenLarge{
        display: flex;
    }
    #secretScreenSmall{
        display: none;
    }
    
    /*Zone Filtres*/
    .filtres {
        flex-direction:row;
        align-items: center;
    }
    
    .filter{
        margin: 1%;
    }
    
    .info{
        align-items: center;
    }

    /*Section resultat*/
    .resultat{
        box-sizing: border-box;
        flex-direction: row;
    }

    .hebergements{
        width:69%;
        min-height: 36em;
        background-color: #F2F2F2;
        border-radius: 1.063em;
        padding:1%;
        padding-top: 1.875em;
        margin-right:2%;
    }
    
    .corps > *{
        flex:1 1 27%;
    }

    aside {
        width:29%;
        border-radius: 1.063em;
        padding:2%;
        padding-top: 1.875em;
        min-height: 38.8em;
    }

    /*Section Activités*/
    #activites{
        margin-top: 2.5em;
    }
        
    .corpsActivites > *{
        flex:1 1 24%;
    }
    
    .cardMax .imageCardActivites{
        height: 92%;
    }
    
    /*footer*/
    footer{
        padding: 0;
    }

    footer > * {
        flex: 1 1 27%;
        margin : 1%;
    }

    footer div{
        margin-top: 2em;
    }
    
}
